name: Run tests

on:
    push:
    pull_request:

jobs:
    test:
        strategy:
            matrix:
                node: [18, 20, 22, 24]
                os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node }}
            - run: npm install
            - run: npm test
